@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/*
font-family: "Playfair Display", serif;
font-family: "Roboto", serif;
font-family: "Plus Jakarta Sans", serif;
font-family: "DM Sans", serif;
*/



:root {
	scroll-behavior: auto;
	--primary-color: #146092;
	--secondary-color: #F69E2A;
	--secondary-color2: #13171A;
	--color-black: #000000;
	--color-white: #ffffff;
	--heading-color: #363636;
	--heading-font: "DM Sans", sans-serif;
	--secondary-font: "DM Sans", sans-serif;
	--body-font: "Plus Jakarta Sans", sans-serif;
	--link-font: "Plus Jakarta Sans", sans-serif;
	--rubik: "Rubik", sans-serif;
	--primary-transition: all 0.4s ease-in-out;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none !important;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

p {
	margin: 0;
}

html {
	padding: 0;
	margin: 0;
	border-radius: 0;
}

body {
	padding: 0;
	margin: 0;
	border-radius: 0;
	font-family: var(--body-font);
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: #565656;
}

b,
strong {
	font-weight: 700;
}

em {
	font-style: normal;
}

a {
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	outline: none !important;
	text-decoration: none;
	font-style: normal;
	text-decoration: none;
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	text-decoration: none;
	color: var(--primary-color);
}

a:focus {
	text-decoration: none;
	color: var(--primary-color);
}

button {
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	outline: none !important;
	text-decoration: none;
	font-style: normal;
	text-decoration: none;
}

input {
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	outline: none !important;
	text-decoration: none;
	font-style: normal;
	text-decoration: none;
	width: 100%;
	padding: 5px 10px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

input::-webkit-input-placeholder {
	opacity: 1;
	color: #9698a3;
}

input:-moz-placeholder {
	opacity: 1;
	color: #9698a3;
}

input::-moz-placeholder {
	opacity: 1;
	color: #9698a3;
}

input:-ms-input-placeholder {
	opacity: 1;
	color: #9698a3;
}

input[type="buttton"] {
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	outline: none !important;
	text-decoration: none;
	font-style: normal;
	text-decoration: none;
}

input[type="submit"] {
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	outline: none !important;
	text-decoration: none;
	font-style: normal;
	text-decoration: none;
}

.btn {
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	outline: none !important;
	text-decoration: none;
	font-style: normal;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

figure {
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	margin: 0;
	margin: 0;
}

h3 {
	font-family: var(--heading-font);
}

textarea {
	padding: 5px 10px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

textarea::-webkit-input-placeholder {
	opacity: 1;
	color: #9698a3;
}

textarea:-moz-placeholder {
	opacity: 1;
	color: #9698a3;
}

textarea::-moz-placeholder {
	opacity: 1;
	color: #9698a3;
}

textarea:-ms-input-placeholder {
	opacity: 1;
	color: #9698a3;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}

.bootstrap-select:not(.input-group-btn) {
	width: 100%;
}

.bootstrap-select[class*="col-"] {
	width: 100%;
}


.section-padding {
	padding: 100px 0;
}

.section-padding-x {
	padding-top: 100px;
}

.section-padding-y {
	padding-bottom: 100px;
}

.bg-image-section,
.bgImage {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.overflow-hidden {
	overflow: hidden;
}

.mt-50 {
	margin-top: 50px;
}

.btn,
.basic-btn {
	font-size: 13px;
	line-height: 1.4;
	font-weight: 600;
	letter-spacing: 0;
	text-align: center;
	text-transform: uppercase;
	color: var(--color-white);
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	padding: 13px 25px;
	border-radius: 0;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 9;
}


.btn.btn-primary i {
	margin-left: 5px;
	line-height: 1;
	display: inline-flex;
	margin-top: 0px;
	transform: rotate(45deg);
	font-size: 17px;
	transition: transform 0.2s ease-in;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:active:focus {
	background-color: var(--secondary-color);
	color: var(--color-white);
	box-shadow: 5px 5px 8px 0px rgba(20, 96, 146, 0.72);
	border-color: var(--secondary-color);
}

.btn.btn-primary:hover::before,
.btn.btn-primary:focus::before,
.btn.btn-primary:active::before,
.btn.btn-primary:active:focus::before {
	width: calc(100% + 27px);
}

.btn.btn-primary:hover i,
.btn.btn-primary:focus i,
.btn.btn-primary:active i,
.btn.btn-primary:active:focus i {
	transform: rotate(90deg);
}

.btn-secondary {
	background-color: rgba(214, 219, 224, 0.09);
	border-color: #d6dbe0;
	color: #fff;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active,
.btn.btn-secondary:active:focus {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: var(--color-white);
	box-shadow: 0 0 35px rgba(20, 96, 146, 0.3) !important;
}

.bg_img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.p_r {
	position: relative;
}

.section-heading h1 {
	font-size: 50px;
	line-height: 55px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 0;
}

.section-heading h2 {
	font-size: 57px;
	line-height: 1.13;
	font-weight: 700;
	color: var(--heading-color);
	text-transform: capitalize;
	margin-bottom: 20px;
}

.section-heading h3 {
	font-size: 26px;
	line-height: 1.3;
	font-weight: 500;
	color: #2d2d2d;
	margin-bottom: 0;
}

.section-heading h4 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
	color: var(--primary-color);
	margin-bottom: 22px;
	text-transform: uppercase;
	position: relative;
	padding-left: 96px;
}

.section-heading h5 {
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
	color: #2c343a;
	margin-bottom: 20px;
}

.section-heading p {
	font-size: 17px;
	line-height: 1.65;
	font-weight: 400;
	margin-bottom: 25px;
	color: #3F3F3F;
}

.section-heading p:last-child {
	margin-bottom: 0;
}

.section-heading h2 span {
	font-weight: 400;
	display: block;
}

.row.gutter {
	margin-bottom: -30px;
}

.row.gutter [class*="col-"] {
	margin-bottom: 30px;
}

/*scroll-to-top*/
.scrollup {
	position: fixed;
	bottom: -70px;
	right: 15px;
	width: 45px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 98;
	background-color: var(--primary-color);
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.scrollup:hover {
	transform: translateY(-7px);
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.scrollup.active {
	bottom: 25px;
}

.scrollup span {
	color: var(--color-white);
	font-size: 25px;
}

/*scroll-to-top*/
/* breadcrumb-css */
.service-breadcrumb-wrapper {
	background-color: #f9f9f9;
	padding: 13px 0;
}

.service-breadcrumb-wrapper .breadcrumb {
	background-color: transparent;
	padding: 0;
	margin-bottom: 0;
}

.service-breadcrumb-wrapper .breadcrumb span {
	font-size: 14px;
	line-height: 18px;
	color: #6d6d6d;
}

.service-breadcrumb-wrapper .breadcrumb span a {
	color: #434343;
}

/* breadcrumb-css */
.top-header-outer {
	background-color: var(--primary-color);
	padding: 10px 0;
}

.header_outer {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	transition: 0.3s all ease-in-out;
}



.top-header-holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-social-links {
	display: flex;
	align-items: center;
	gap: 6px;
}

.header-social-links>a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background-color: #fff;
	border: 1px solid #C7DCE9;
	width: 44px;
	height: 44px;
	font-size: 18px;
}

.header-social-links>a:hover {
	transform: translateY(-4px) scale(1.13);
	border-color: var(--primary-color);
}

.sticky .header-social-links>a:not(:hover) {
	color: #282828;
}

.header-contact-info a {
	display: inline-flex;
	align-items: center;
	font-size: 17px;
	font-weight: 600;
	color: #b7d2e4;
}

.header-contact-info a:not(:last-child) {
	margin-right: 40px;
}

.header-contact-info a:last-child {
	font-size: 15px;
	font-weight: 400;
}

.header-contact-info a:hover {
	color: #fff;
}

.header-contact-info a i {
	color: #fff;
	margin-right: 8px;
	display: inline-flex;
}

.header-contact-info a i.fa-phone-volume {
	transform: rotate(-45deg);
}

.sticky .header-top-bar-outer {
	display: none;
}

.sticky .nav_holder {
	position: fixed;
	top: 0;
	z-index: 99;
	background-color: #fff;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
	transition: 0.3s all ease-in-out;
}

.sticky .logo {
	display: block;
	width: 136px;
	transition: 0.3s all ease-in-out;
	position: static;
}



.nav_holder {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.4s ease-in-out;
}

.nav_holder .container-fluid {
	padding: 0 40px;
}

.nav_inr {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #D5E1E6;
	padding: 20px 0;
	transition: 0.3s all ease-in-out;
}

.sticky .nav_inr {
	padding: 15px 0;
	border-color: transparent;
}

.logo {
	width: 145px;
	transition: all 0.4s ease-in-out;
}

.hddr_inr {
	position: relative;
	margin-left: auto;
	margin-right: 50px;
}


.hdr_menu li {
	display: inline-block;
	margin-right: 40px;
	position: relative;
}

.hdr_menu li:last-child {
	margin-right: 0;
}

.hdr_menu li a {
	font-family: var(--link-font);
	display: inline-block;
	font-size: 14px;
	line-height: 20px;
	color: #2C2C2C;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	padding: 4px 0;
}

.sticky .hdr_menu li a {
	color: #282828;
}

.sticky .hdr_menu li.current-menu-item a,
.sticky .hdr_menu li:hover a {
	color: var(--primary-color);
}

.sticky .hdr_menu li a::before {
	background-color: var(--primary-color);
}

.sticky .header-right-content .menu-toggle-btn {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.42);
}

.hdr_menu li a::before {
	content: "";
	position: absolute;
	background-color: var(--primary-color);
	width: 0;
	height: 2px;
	transition: all 0.4s ease-in-out;
}

.hdr_menu li a::before {
	bottom: -4px;
	left: auto;
	right: 0;
}

.hdr_menu li:hover a {
	color: var(--primary-color);
}

.hdr_menu li:hover a::before {
	width: 100%;
	left: 0;
	right: auto;
}

.hdr_menu li.current-menu-item a {
	color: var(--primary-color);
}

.hdr_menu li.current-menu-item a::before {
	width: 100%;
	left: 0;
	right: auto;
	background-color: var(--primary-color);
}

.hdr_menu li.current-menu-parent>a {
	color: var(--primary-color);
}

.sticky .hdr_menu li.current-menu-parent>a {
	color: var(--primary-color);
}

.hdr_menu li.current-menu-parent li.current-menu-item a {
	color: var(--primary-color);
}

.hdr_menu li.menu-item-has-children {
	position: relative;
}

.hdr_menu li.menu-item-has-children .sub-menu {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	width: 530px;
	background-color: #fff;
	padding: 20px;
	z-index: 10;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
	-moz-column-count: 2;
	column-count: 2;
}

.hdr_menu li.menu-item-has-children .sub-menu li {
	margin-bottom: 0;
	display: block;
	margin-right: 0;
	line-height: 25px;
	transition: all 0.4s ease-in-out;
}

.hdr_menu li.menu-item-has-children .sub-menu li:last-child {
	margin-bottom: 0;
}

.hdr_menu li.menu-item-has-children .sub-menu li.current-menu-item a {
	padding-left: 15px;
	color: var(--primary-color);
}

.hdr_menu li.menu-item-has-children .sub-menu li.current-menu-item a::after {
	width: 10px;
}

.hdr_menu li.menu-item-has-children .sub-menu a {
	font-size: 13px;
	color: #000103;
	padding: 0;
	background-color: transparent;
}

.hdr_menu li.menu-item-has-children .sub-menu a::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--primary-color);
	transition: all 0.4s ease-in-out;
}

.hdr_menu li.menu-item-has-children .sub-menu a:hover {
	color: var(--primary-color);
	padding-left: 15px;
}

.hdr_menu li.menu-item-has-children .sub-menu a:hover::after {
	width: 10px;
}

.hdr_menu li.menu-item-has-children:hover>.sub-menu {
	opacity: 1;
	visibility: visible;
}

.hdr_menu li.menu-item-has-children:hover>.sub-menu li {
	transition: all 0.4s ease-in-out;
	padding: 5px 0;
}

.hdr_menu li.menu-item-has-children:hover>a::after {
	color: var(--primary-color);
}

.sticky .hdr_menu li.menu-item-has-children:hover>a::after {
	color: var(--primary-color);
}

.hdr_menu li.menu-item-has-children:last-child .sub-menu {
	right: 0;
	left: auto;
}

.hdr_menu li.menu-item-has-children .current-menu-item a {
	font-size: 14px;
	color: #000103;
	padding: 0;
	background-color: transparent;
}

.hdr_menu li.menu-item-has-children>a {
	padding-right: 25px;
}

.hdr_menu li.menu-item-has-children>a::after {
	font-family: "Line Awesome Free";
	content: "\f107";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-weight: 900;
	color: inherit;
	font-size: 14px;
}

.hdr_menu ul li.menu-item-has-children ul li {
	margin: 0;
}

.hdr_menu ul li.menu-item-has-children ul li a:before {
	display: none;
}

.sub_menu_opener {
	display: none;
	position: absolute;
	top: 8px;
	right: 20px;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.sub_menu_open .sub_menu_opener {
	transform: rotateX(180deg);
}

.responisve-logo,
.responsive-header-social-btn {
	display: none;
}

.headerDataRight {
	display: flex;
	align-items: center;
	gap: 20px;
}

/* .header-cta-btn .btn {
	padding: 10px 15px;
	min-width: 185px;
	font-weight: 400;
} */

.footer-wrapper {
	background-color: #fff;
	position: relative;
}

.footer-wrapper .container {
	position: relative;
}

.footer-top-row {
	position: relative;
	padding-top: 160px;
}

.footer-top-row>[class*="col-"] {
	padding: 45px 15px;
}

.footer-top-row>[class*="col-"]:nth-child(2),
.footer-top-row>[class*="col-"]:nth-child(3),
.footer-top-row>[class*="col-"]:last-child {
	padding-left: 50px;
}


.footer-logo-holder {
	align-items: center;
}

.footer-logo-holder a {
	display: inline-block;
	max-width: 125px;
	margin-right: 30px;
}

.footer-logo-holder a:last-child {
	margin-right: 0;
}

.footer-top-row .footer-widget .footer-widget-title p {
	font-family: var(--secondary-font);
	font-size: 23px;
	line-height: 26px;
	font-weight: 600;
	color: #393939;
	margin-bottom: 25px;
}

.footer-top-row .footer-widget .footer-contact-list ul li {
	font-family: var(--secondary-font);
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 26px;
	color: #474747;
	position: relative;
	padding-left: 30px;
}

.footer-top-row .footer-widget .footer-contact-list ul li li {
	padding-left: 0;
	margin-bottom: 0;
}

.footer-top-row .footer-widget .footer-contact-list ul li span {
	position: absolute;
	left: 0;
	top: 0px;
	color: #141414;
	font-size: 21px;
}

.footer-top-row .footer-widget .footer-contact-list ul li a {
	color: #474747;
}

.footer-top-row .footer-widget .footer-contact-list ul li a:hover {
	color: var(--primary-color);
}

.footer-top-row .footer-widget .footer-contact-list ul li:last-child {
	margin-bottom: 0;
}

.footer-top-row .footer-widget .footer-links li {
	margin-bottom: 20px;
	line-height: 20px;
}

.footer-top-row .footer-widget .footer-links li:last-child {
	margin-bottom: 0;
}

.footer-top-row .footer-widget .footer-links li a {
	font-family: var(--secondary-font);
	font-size: 18px;
	color: #474747;
	position: relative;
}

.footer-top-row .footer-widget .footer-links li.current-menu-item a,
.footer-top-row .footer-widget .footer-links li a:hover {
	color: var(--primary-color);
}

.footer-top-row .footer-widget .footer-links li a:hover:before {
	background-color: var(--primary-color);
}

.footer-top-row .footer-widget .footer-logo {
	margin-bottom: 55px;
}

.footer-logo p {
	margin: 20px 0;
	color: var(--color-white);
}

.lic-no p {
	margin: 0;
	margin: 20px 0;
	font-size: 18px;
	font-weight: 600;
}

.footer-social li:last-child {
	margin-right: 0;
}

.footer-social a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 17px;
	width: 32px;
	height: 32px;
	background-color: var(--primary-color);
	border-radius: 5px;
	color: #fff;
	margin-right: 8px;
}

.footer-social a:hover {
	transform: translateY(-2px) scale(1.1);
	background-color: var(--heading-color);
	color: var(--color-white);
}

.footer-blog-list a {
	display: block;
	margin-bottom: 10px;
	font-size: 15px;
}

.footer-blog-list a:hover {
	color: var(--primary-color);
}

.footer-bottom-row {
	position: relative;
	z-index: 2;
	text-align: center;
}

.footer-bottom-row {
	padding: 20px 0;
	border-top: 1px solid #E2E2E2;
}

.footer-bottom-row .privacy-links a {
	font-size: 13px;
	margin-right: 25px;
	color: #3d4243;
}

.footer-bottom-row .privacy-links a:last-child {
	margin-right: 0;
}

.footer-bottom-row .privacy-links a:hover {
	color: var(--primary-color);
}

.footer-bottom-row .copyright-text p {
	font-size: 14px;
	font-weight: 400;
	color: #2C2C2C;
	line-height: 20px;
}

.floating-call-btn {
	position: fixed;
	bottom: -50px;
	left: 0;
	z-index: 98;
	transition: all 0.4s ease-in-out;
}

.floating-call-btn.active {
	bottom: 0;
}

.floating-call-btn .basic-btn {
	padding: 6px 25px;
	border-radius: 4px 4px 0 0;
	line-height: 26px;
	font-weight: 600;
}

.floating-call-btn .basic-btn span {
	transform: rotate(-45deg);
	margin-right: 7px;
}

.header-right-content .menu-toggle-btn {
	width: 100px;
	height: 90px;
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	transition: var(--primary-transition);
}

.sticky .header-right-content .menu-toggle-btn {
	height: 80px;
}

.header-right-content .menu-toggle-btn button {
	width: 46px;
	display: block;
	background: none;
}

.header-right-content .menu-toggle-btn span {
	width: 46px;
	display: block;
	border-top: 2px solid #000;
	margin-left: auto;
	transition: all 0.4s ease-in-out;
}

.header-right-content .menu-toggle-btn span:nth-child(2) {
	width: 79%;
}

.header-right-content .menu-toggle-btn span+span {
	margin-top: 9px;
}

.header-right-content .menu-toggle-btn:hover span {
	width: 34px;
}

.header-right-content .menu-toggle-btn:hover span:nth-child(2) {
	width: 100%;
}

/* area-we-serve-modal-css */
.service-modal .modal-dialog {
	max-width: 800px;
}

.service-modal .serviceAreaModal {
	padding: 25px;
}

.service-modal .serviceAreaModal-close {
	position: absolute;
	top: -10px;
	right: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	background-color: #000;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
}

.service-modal .serviceAreaModal-heading {
	margin-bottom: 30px;
}

.service-modal .serviceAreaModal-heading .section-heading .title {
	font-family: "Montserrat", sans-serif;
	font-size: 26px;
	line-height: 32px;
	margin-bottom: 10px;
}

.service-modal .serviceAreaModal-list ul {
	-moz-column-count: 3;
	column-count: 3;
}

.service-modal .serviceAreaModal-list ul li {
	margin-bottom: 14px !important;
	line-height: 22px;
}

.service-modal .serviceAreaModal-list ul li a {
	color: #4f4f4f;
	position: relative;
	display: inline-block;
	padding-left: 15px;
	font-size: 16px;
	line-height: 20px;
}

.service-modal .serviceAreaModal-list ul li a::before {
	position: absolute;
	top: 5px;
	left: 0;
	content: " ";
	width: 8px;
	height: 8px;
	background-color: #000;
	border-radius: 50%;
}

.service-modal .serviceAreaModal-list ul li a:hover {
	color: #000;
}

/* form-css */
.form-row {
	margin: 0 -5px;
}

.form-row>.col,
.form-row>[class*="col-"] {
	padding-right: 5px;
	padding-left: 5px;
}

.input-field {
	position: relative;
	margin-bottom: 18px;
}

.input-field>label {
	position: absolute;
	top: 0px;
	left: 15px;
	z-index: 2;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	font-weight: 400;
	margin-bottom: 0;
	cursor: text;
	padding: 2px 5px;
	pointer-events: none;
	transform: translateY(15px);
	transform-origin: 0% 100%;
	transition: transform 0.2s ease-out 0s, color 0.2s ease-out 0s;
}

.input-field>label.active {
	transform: translateY(-13px) scale(0.9);
	background-color: var(--primary-color);
	border-radius: 3px;
	color: #fff;
}

.input-field .form-control {
	height: 53px;
	font-size: 16px;
	color: var(--heading-color);
	font-weight: 400 !important;
	background-color: #F5F5F4;
	border: 1px solid #F5F5F4;
	padding: 0 15px;
	border-radius: 10px;
	transition: all 0.4s ease-in-out;
}



.input-field .form-control::-webkit-input-placeholder {
	color: #595959;
	text-transform: capitalize;
}



.input-field .form-control::-moz-placeholder {
	color: #595959;
	text-transform: capitalize;
}



.input-field .form-control:-ms-input-placeholder {
	color: #595959;
	text-transform: capitalize;
}



.input-field .form-control::-ms-input-placeholder {
	color: #595959;
	text-transform: capitalize;
}



.input-field .form-control::placeholder {
	color: #595959;
	text-transform: capitalize;
}

.input-field .form-control:focus {
	/* background-color: var(--color-white); */
	border-color: var(--primary-color);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.input-field textarea.form-control {
	height: 125px;
	resize: none;
	padding-top: 20px;
}

.input-field .select-field {
	width: 100%;
}

.input-field .select-field .bootstrap-select>.dropdown-toggle {
	height: 53px;
	line-height: 51px;
	width: 100%;
	border-radius: 10px;
	padding: 0 15px;
	border: 1px solid #F5F5F4 !important;
	background-color: #F5F5F4 !important;
	color: var(--heading-color) !important;
	font-weight: 400;
	text-transform: capitalize;
	box-shadow: none !important;
}

.input-field .select-field .bootstrap-select>.bs-placeholder .filter-option-inner {
	font-size: 16px;
	color: var(--heading-color) !important;
}

.input-field .select-field .dropdown-menu {
	border-radius: 10px;
}

.input-field .select-field .btn-light:not(:disabled):not(.disabled).active:focus,
.input-field .select-field .btn-light:not(:disabled):not(.disabled):active:focus,
.input-field .select-field .show>.btn-light.dropdown-toggle:focus,
.input-field .select-field .bootstrap-select .dropdown-toggle:focus {
	box-shadow: none;
	outline: none !important;
}

.input-field .select-field .btn-light:not(:disabled):not(.disabled).active,
.input-field .select-field .btn-light:not(:disabled):not(.disabled):active,
.input-field .select-field .show>.btn-light.dropdown-toggle {
	background-color: transparent;
	border-color: var(--primary-color) !important;
}

.input-field .select-field .filter-option-inner {
	font-size: 16px;
	color: var(--heading-color);
}

.input-field .select-field .bootstrap-select .dropdown-menu li a {
	font-size: 14px;
	font-weight: 500;
}

.input-field .select-field .dropdown-item:hover,
.input-field .select-field .dropdown-item:focus,
.input-field .select-field .dropdown-item.active {
	color: #fff;
	text-decoration: none;
	background-color: var(--primary-color);
}

.input-field .bootstrap-select .dropdown-toggle::after {
	border-top: 5px solid;
	border-right: 5px solid transparent;
	border-bottom: 0;
	border-left: 5px solid transparent;
	right: 10px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.input-field .dropdown-toggle::after {
	border-top-color: var(--heading-color) !important;
}

.input-field .dropup .dropdown-toggle::after {
	border-top: 0;
	border-right: 5px solid transparent;
	border-bottom: 5px solid;
	border-left: 5px solid transparent;
	border-bottom-color: var(--heading-color);
}

.submit-field {
	position: relative;
	height: calc(100% - 18px);
}

.submit-field .icon {
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	z-index: 11;
	color: #fff;
	font-size: 30px;
	transition: var(--primary-transition);
}

.submit-field .btn {
	min-width: auto;
	position: absolute;
	inset: 0;
	padding-top: 60px;
	font-size: 20px;
	border-radius: 15px;
}

.submit-field:hover .icon,
.submit-field:focus .icon,
.submit-field:has(.btn:hover) .icon,
.submit-field:has(.btn:focus) .icon {
	transform: translateX(-50%) rotate(90deg);
	color: var(--primary-color);
}

/* form-css */
/*contact_form7_CSS*/
.wpcf7-not-valid-tip {
	font-size: 13px;
	color: #dc3232 !important;
	text-align: left;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	font-size: 15px;
	text-align: center;
}

.wpcf7 form .wpcf7-response-output {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	font-size: 15px;
	text-align: center;
	font-weight: 500;
	padding: 8px;
	border-radius: 6px;
}

.wpcf7-form-control-wrap>label {
	display: none;
}

.wpcf7-form-control-wrap {
	width: 100%;
}

.wpcf7 .ajax-loader,
.wpcf7-spinner {
	position: absolute !important;
	top: 50%;
	right: 0;
	margin: 0;
	z-index: 9;
	transform: translateY(-50%);
}

/*contact_form7_CSS*/


/* accordion */
.faqWrapper {
	background-color: #FAFAFA;
}

.faq_acrdn .accordion-item {
	background-color: #fff;
	border: none;
	border-bottom: 0;
	margin: 0 0 30px;
	border-radius: 0;
	position: relative;
	overflow: hidden;
	padding: 0 0 0 25px;
	border-radius: 15px;
	box-shadow: 0px 4px 74px 1px #0000000F;
	transition: all 0.4s ease-in-out;
	counter-increment: faq-counter;
}

.faq_acrdn .accordion-item .accordion-header {
	padding: 0;
	border: 0;
	background: transparent;
	margin: 0;
	border-radius: 0px !important;
}

.faq_acrdn .accordion-item .accordion-header .accordion-button {
	font-family: var(--heading-font);
	padding: 18px 65px 18px 0;
	display: block;
	width: 100%;
	font-size: 23px;
	line-height: 1.4;
	text-decoration: none !important;
	color: #2D2D2D;
	font-weight: 600;
	position: relative;
	text-align: left;
	background-color: transparent;
	white-space: normal;
	letter-spacing: 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	transition: 0.3s ease-in;
}

.faq_acrdn .accordion-button:focus {
	box-shadow: none;
}

.faq_acrdn .accordion-button::after {
	content: "\f107";
	font-family: "Line Awesome Free";
	position: absolute;
	top: 19px;
	right: 20px;
	width: 28px;
	height: 28px;
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	transition: all 0.3s ease-in;
	border: 0;
	background: var(--primary-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotateX(180deg);
}

.faq_acrdn .accordion-button.collapsed:after {
	content: "\f107";
	background: var(--primary-color);
	transform: rotateX(0);
}

.faq_acrdn .accordion-body {
	padding: 0 0 30px;
	padding-left: 0;
	border-top: 0;
	transition: 0.3s ease-in;
}

.faq_acrdn .accordion-body p {
	color: #2F2F2F;
	font-size: 21px;
}


/* accordion */
/* short-banner */
.shortBanner {
	padding: 250px 0 150px;
}

.shortBanner .banner-content-outer h1 {
	font-size: 90px;
}

.shortBanner .banner-content-outer {
	position: static;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 0;
}

/* ----------------------- */

/* home-css */

.banner-wrapper {
	padding: 200px 0 550px;
	min-height: 1150px;
	position: relative;
	background: linear-gradient(180deg, #E7EDF0 10.8%, #EFF8FF 100%);
}


.banner-wrapper .bannerPerson {
	position: absolute;
	bottom: 0;
	left: 43%;
	transform: translateX(-50%);
}

/* .banner-content-outer {
	max-width: 580px;
	margin-left: auto;
} */


.banner-content-outer {
	display: flex;
	justify-content: space-between;
}

.banner-content-outer h1 {
	font-size: 53px;
	font-weight: 300;
	line-height: 1.12;
	color: #363636;
	max-width: 800px;
	margin-bottom: 15px;
	text-transform: capitalize;
}

.banner-content-outer h1 strong {
	font-size: 85px;
	display: block;
}

.banner-content-outer p {
	font-family: var(--secondary-font);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	color: #3C3C3C;
	max-width: 480px;
	margin-bottom: 40px;
}

.banner-content-outer p a {
	color: var(--primary-color);
	text-decoration: underline;
}

.bannerStatOuter {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.bannerStatOuter .dataTotp p {
	font-family: var(--heading-font);
	color: var(--primary-color);
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 600;
	margin-right: 8px;
}

.bannerStatOuter .dataBottom p {
	font-size: 20px;
	font-weight: 500;
	color: #333B41;
	margin-bottom: 0;
}

.bannerHouse {
	position: absolute;
	bottom: 0;
	left: auto;
	right: 0;
	width: 95%;
	pointer-events: none;
}

.bannerHouse img {
	width: 100%;
}

.ourProjectWrapper {
	overflow: hidden;
}

.ourProjectWrapper .section-heading {
	max-width: 920px;
	margin: 0 auto 80px;
}

.ourProjectWrapper .section-heading h2 {
	color: #070707;
}

.ourProjectWrapper .section-heading p {
	color: #313131;
}

.projectSliderOuter {
	margin: 0 -100px;
}

.projectCard {
	position: relative;
	overflow: hidden;
}

.projectCard::before {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.38) 8.57%, rgba(0, 0, 0, 0) 190%);
}

.projectCard figure {
	height: 530px;
}

.projectCard figure img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.projectCard .data {
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 0 25px;
}

.projectCard .data::before {
	content: "";
	position: absolute;
	top: 10px;
	right: 20px;
	background-image: url(../images/logo-light.svg);
	width: 105px;
	height: 62px;
	background-repeat: no-repeat;
	transform-origin: right;
}

.projectCard .data h3 {
	font-family: var(--body-font);
	font-size: 32px;
	font-weight: 600;
	color: var(--color-white);
	margin-bottom: 8px;
	transition: all 0.4s ease-in;
}

.projectCard .data h3:hover {
	color: var(--primary-color);
}

.projectCard .data p {
	color: var(--color-white);
	font-size: 20px;
}

.projectSliderNav .swiper-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 90px;
}

.projectSliderNav .swiper-nav .swiper-button-next,
.projectSliderNav .swiper-nav .swiper-button-prev {
	position: static;
	width: 40px;
	height: 40px;
	border: 1px solid #1C1C1C;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	transition: var(--primary-transition);
}

.projectSliderNav .swiper-nav .swiper-button-next::after,
.projectSliderNav .swiper-nav .swiper-button-prev::after {
	color: #1C1C1C;
	font-size: 16px;
	font-weight: 600;
	transition: var(--primary-transition);
}

.projectSliderNav .swiper-nav .swiper-button-next:hover,
.projectSliderNav .swiper-nav .swiper-button-prev:hover {
	border-color: var(--primary-color);
}

.projectSliderNav .swiper-nav .swiper-button-next:hover::after,
.projectSliderNav .swiper-nav .swiper-button-prev:hover::after {
	color: var(--primary-color);
}

.projectSliderNav .swiper-pagination {
	position: static;
	width: auto;
	margin: 0 25px;
}

.projectSliderNav .swiper-pagination .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	background-color: rgba(0, 63, 32, 0.1);
	opacity: 1;
	transition: var(--primary-transition);
}

.projectSliderNav .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #1C1C1C;
}